<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>view</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <img src="{% static 'images/image.jpg' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">

</head>
<body class="page4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" >الرئيسية</button>
          <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" >تحديث البيانات الشخصية</button>
          <form action="/logout" method="post">
            {% csrf_token %}
          <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="submit" role="tab" aria-controls="nav-contact">تسجيل الخروج</button>
          </form>
        </div>
      </nav>
      <br>
      <h1>اهلا بك،{{worker.first_name}}</h1>
    <main class="view">
        <h1>التقييم</h1>
        <br>
        <table class="table table-striped" >
            <tr  >
                <th scope="col" id="color">التقييم</th>
                <th scope="col" id="color">ملاحظات</th>
            
              </tr>
              <tbody>
                <tr>
                  <td scope="row" id="color">جيد جدا</td>
                  <td id="color"> دقيق في العمل و الوقت </td>
                </tr>
              </tbody>
          </table>
 
</main>
</body>
</html>